##
## Configuration for standalone bin/launch
##

# This is the clone git repo you want to use, defaults to project origin
readonly GIT_REPO="https://github.com/ronaldbradford/mesh-monitor"
readonly DOCKER_IMAGE="mesh-monitor"
readonly CONTAINER="monitor"

export GIT_REPO

# https://api.slack.com/messaging/webhooks
SLACK_WEBHOOK="https://hooks.slack.com/services/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"

## exported MM_ variables are logged for mesh usage

## Core configuration
export MM_VERSION="0.1"
export MM_PORT="8052"

## Customized configuration
export MM_TITLE="Example"
