footer { border-top: 1px solid #EFEFEF; margin-top: 20px; padding-top: 4px; }
#logo { height: 60px; position: absolute; top: 5px; right: 5px;}

.good    { color: #109E2A; }
.warning { color: #E88C23; }
.error   { color: #FF100B; }
